<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>OT | About</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/mdb.min.css">
    <link rel="stylesheet" href="../css/sweetalert2.min.css">
    <link rel="stylesheet" href="../css/styleInput.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/sweetalert2.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-route.js"></script>
    <script src="../js/angular-animate.js"></script>

    <style>
        body {
            background-image: url(../img/H3tz.gif);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>

<body class="fixed-sn white-skin">
    <header>
        <div id="slide-out" class="side-nav fixed" style="background-image: url(../img/bg11.png);">
            <ul class="custom-scrollbar">
                <li class="logo-sn waves-effect py-3">
                    <div class="text-center">
                        <a href="#!index" class="pl-0"><img src="../img/logo2.png"></a>
                    </div>
                </li>
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="./index.html" class="collapsible-header waves-effect"><i class="w-fa fas fa-home"></i>Trang chủ</a>
                        </li>
                        <li>
                            <a href="./about.html" class="collapsible-header waves-effect"><i class="w-fa fas fa-credit-card"></i>Giới thiệu</a>
                        </li>
                        <li>
                            <a href="./contact.html" class="collapsible-header waves-effect"><i class="w-fa fas fa-phone-square-alt"></i>Liên hệ</a>
                        </li>
                        <li>
                            <a href="./feedback.html" class="collapsible-header waves-effect"><i class="w-fa fas fa-comments"></i>Góp ý</a>
                        </li>
                        <li>
                            <a href="#!FAQ" class="collapsible-header waves-effect"><i class="w-fa fas fa-question-circle"></i>Hỏi đáp</a>
                        </li>
                        <li>
                            <a href="" class="collapsible-header waves-effect arrow-r"><i class="w-fa fas fa-list"></i>Danh mục<i class="fas fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a class="waves-effect">
                                            <img src="../img/logos/ADAV.jpg" class="img-fluid rounded-circle hoverable" style="height: 20px;" alt="">
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="sidenav-bg mask-light"></div>
        </div>
        <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav">
            <div class="float-left">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>
            </div>
            <div class="breadcrumb-dn mr-auto">
                <p><strong>Online Training</strong></p>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle waves-effect" href="" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Tài khoản</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="userDropdown">
                    <div>
                        <a class="dropdown-item" href="./register.html">Đăng kí</a>
                        <a class="dropdown-item" href="./login.html">Đăng nhập</a>
                        <a class="dropdown-item" href="./forgotPassword.html">Quên mật khẩu</a>
                    </div>
                    <div ng-hide="student==null">
                        <a class="dropdown-item" href="./updateAccount.html">Thông tin cá nhân</a>
                        <a class="dropdown-item" href="./changePassword.html">Đổi mật khẩu</a>
                        <a class="dropdown-item" href="">Đăng xuất</a>
                    </div>
                </div>
            </div>

        </nav>
    </header>

    <main style="min-height: 500px;">
        <section>
            <div class="col-lg-8 m-auto">
                <div class="card card-cascade narrower">

                    <div class="view view-cascade gradient-card-header" style="background-image: url(../img/H4tz.gif); background-position: center;background-repeat: no-repeat;background-size: cover;">

                        <h2 class="card-header-title">Đăng ký</h2>
                        <p>Đăng kí nếu bạn chưa có tài khoản</p>

                    </div>

                    <div class="card-body card-body-cascade p-5" ng-init="studentR.gender='true';studentR.marks='0'">

                        <form name="frmRegister">
                            <div class="md-form md-outline">
                                <i class="fas fa-user prefix indigo-text"></i>
                                <input name="username" ng-model="studentR.username" type="text" id="username" class="form-control border-indigo" required minlength="6">
                                <label class="bg-white indigo-text rounded px-2 ml-5" for="username"><strong>Tên đăng ký (tài khoản)</strong></label>
                                <small ng-show="frmRegister.username.$error.required" class="form-text text-danger">Vui lòng nhập tên tài khoản</small>
                                <small ng-show="frmRegister.username.$error.minlength" class="form-text text-danger">Tên tài khoản phải hơn 6 kí tự</small>
                            </div>

                            <div class="md-form md-outline">
                                <i class="fas fa-lock prefix indigo-text"></i>
                                <input minlength="6" name="password" ng-model="studentR.password" type="password" id="password" class="form-control border-indigo" required>
                                <label class="bg-white indigo-text rounded px-2 ml-5" for="password"><strong>Mật khẩu</strong></label>
                                <small ng-show="frmRegister.password.$error.required" id="password" class="form-text text-danger">Vui lòng nhập mật khẩu</small>
                                <small ng-show="frmRegister.password.$error.minlength" id="password" class="form-text text-danger">Mật khẩu phải hơn 6 kí tự</small>
                            </div>

                            <div class="md-form md-outline">
                                <i class="fas fa-lock prefix indigo-text"></i>
                                <input name="repassword" ng-model="repassword" type="password" id="repassword" class="form-control border-indigo" required re-pass>
                                <label class="bg-white indigo-text rounded px-2 ml-5" for="repassword"><strong>Mật khẩu (nhập lại)</strong> </label>
                                <small ng-show="frmRegister.repassword.$error.required" class="form-text text-danger">Vui lòng nhập lại mật khẩu</small>
                                <small ng-show="frmRegister.repassword.$invalid && !frmRegister.repassword.$error.required" class="form-text text-danger">Mật khẩu nhập lại không khớp</small>
                            </div>

                            <div class="md-form md-outline">
                                <i class="fas fa-signature prefix indigo-text"></i>
                                <input name="fullname" ng-model="studentR.fullname" type="text" id="fullname" class="form-control border-indigo" required minlength="5">
                                <label class="bg-white indigo-text rounded px-2 ml-5" for="fullname"><strong>Họ và tên</strong> </label>
                                <small ng-show="frmRegister.fullname.$error.required" id="fullname" class="form-text text-danger">Vui lòng nhập họ tên</small>
                                <small ng-show="frmRegister.fullname.$error.minlength" id="fullname" class="form-text text-danger">Không được dưới 5 kí tự</small>

                            </div>

                            <div class="md-form md-outline">
                                <i class="far fa-envelope prefix indigo-text"></i>
                                <input name="email" ng-model="studentR.email" type="email" id="email" class="form-control border-indigo" required>
                                <label class="bg-white indigo-text rounded px-2 ml-5" for="email"><strong>Email</strong> </label>
                                <small ng-show="frmRegister.email.$error.required" class="form-text text-danger">Vui lòng nhập email</small>
                                <small ng-show="frmRegister.email.$error.email" class="form-text text-danger">Không đúng định dạng email</small>
                            </div>

                            <label class="bg-white indigo-text rounded px-2" for=""> <i class="fas fa-transgender"></i>Giới tính:</label>
                            <div class="form-check form-check-inline">
                                <input ng-model="studentR.gender" type="radio" class="form-check-input" id="gender" name="gender" value="true">
                                <label class="form-check-label indigo-text" for="gender">Nam</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input ng-model="studentR.gender" type="radio" class="form-check-input" id="gender2" name="gender" value="false">
                                <label class="form-check-label indigo-text" for="gender2">Nữ</label>
                            </div>

                            <div class="md-form md-outline">
                                <i class="far fa-envelope prefix indigo-text"></i>
                                <input name="birthday" ng-model="studentR.birthday" type="text" id="birthday" class="form-control border-indigo" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required>
                                <label class="bg-white indigo-text rounded px-2 ml-5" for="birthday"><strong>Ngày sinh(yyyy-mm-dd)</strong> </label>
                                <small ng-show="frmRegister.birthday.$error.required" class="form-text text-danger">Vui lòng nhập ngày sinh</small>
                                <small ng-show="frmRegister.birthday.$error.pattern" class="form-text text-danger">Không đúng định dạng ngày sinh</small>
                            </div>

                            <div class="md-form md-outline">
                                <i class="fas fa-money-bill prefix indigo-text"></i>
                                <input name="schoolfee" ng-model="studentR.schoolfee" type="number" id="schoolfee" class="form-control border-indigo" required min="2000000">
                                <label class="bg-white indigo-text rounded px-2 ml-5" for="schoolfee"><strong>Học phí</strong> </label>
                                <small ng-show="frmRegister.schoolfee.$error.required" id="schoolfee" class="form-text text-danger">Vui lòng nhập học phí</small>
                                <small ng-show="frmRegister.schoolfee.$error.min" id="schoolfee" class="form-text text-danger">Học phí phải hơn 2 triệu</small>
                            </div>
                            <div class="text-center mt-4">
                                <button ng-click="register()" ng-disabled="frmRegister.$invalid" class="btn btn-indigo text-white btn-rounded">Đăng ký</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </section>
    </main>

    <footer ng-show="loading" class="page-footer text-center text-md-left unique-color-dark pt-0 mt-5" style="transition: all linear 1s;">

        <div class="top-pink-footer">
            <div class="container">

                <div class="row py-4 d-flex align-items-center">

                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-md-0">
                        <h6 class="mb-4 mb-md-0 white-text">Hãy liên hệ với tôi qua mạng xã hội!</h6>
                    </div>

                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                        <a class="p-2 m-2 fa-lg fb-ic ml-0" href="https://www.facebook.com/">
                            <i class="fab fa-facebook-f white-text mr-lg-4"> </i>
                        </a>
                        <a class="p-2 m-2 fa-lg tw-ic">
                            <i class="fab fa-twitter white-text mr-lg-4"> </i>
                        </a>
                        <a class="p-2 m-2 fa-lg gplus-ic">
                            <i class="fab fa-google-plus-g white-text mr-lg-4"> </i>
                        </a>
                        <a class="p-2 m-2 fa-lg li-ic">
                            <i class="fab fa-linkedin-in white-text mr-lg-4"> </i>
                        </a>
                        <a class="p-2 m-2 fa-lg ins-ic">
                            <i class="fab fa-instagram white-text mr-lg-4"> </i>
                        </a>
                    </div>

                </div>

            </div>
        </div>

        <div class="footer-copyright text-center py-3">
            <div class="container-fluid">
                <h3 class="">Made with <i class="fas fa-heart red-text mx-1"></i> by Nhat Tan (PS13683)</h3>
            </div>
        </div>

    </footer>

    <!-- SCRIPTS -->
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/mdb.min.js"></script>

    <script>
        $(".button-collapse").sideNav();

        var container = document.querySelector('.custom-scrollbar');
        var ps = new PerfectScrollbar(container, {
            wheelSpeed: 2,
            wheelPropagation: true,
            minScrollbarLength: 20
        });
        // Animation init
        new WOW().init();
    </script>
</body>

</html>